# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*

# FAISS vector database
vectorstore/

# Hugging Face / ML caches
.cache/
huggingface/
.sentence_transformers/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python test/cache
.pytest_cache/

# Logs
*.log